<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Everjobs Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="75b48e">  <td>18/06/02 06:46:36</td>   <td>0</td> <td title="&gt;&gt;BaseTest.initialize()[pri:0, instance:tests.BaseTest@6d00a15d]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="f9b8bc">  <td>18/06/02 06:46:43</td>   <td>6454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FaceBookLoginTest.init()[pri:0, instance:tests.FaceBookLoginTest@51efea79]">init</td> 
  <td>main@892529689</td>   <td></td> </tr>
<tr bgcolor="75b48e">  <td>18/06/02 06:47:51</td>   <td>74051</td> <td title="&lt;&lt;BaseTest.TeardownTest()[pri:0, instance:tests.BaseTest@6d00a15d]">&lt;&lt;TeardownTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@892529689</td>   <td></td> </tr>
</table>
