<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Facebook Basic Operations</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="62ada6">  <td>18/06/02 11:22:05</td>   <td>0</td> <td title="&gt;&gt;BaseTest.initialize()[pri:0, instance:tests.BaseTest@55f3ddb1]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1006485584</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>18/06/02 11:22:09</td>   <td>4054</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FaceBookLoginTest.facebookTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.FaceBookLoginTest@51081592]">facebookTest</td> 
  <td>main@1006485584</td>   <td></td> </tr>
<tr bgcolor="c285f4">  <td>18/06/02 11:22:32</td>   <td>27676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CirclesLifeTest.circleAccountTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.CirclesLifeTest@8bd1b6a]">circleAccountTest</td> 
  <td>main@1006485584</td>   <td></td> </tr>
<tr bgcolor="62ada6">  <td>18/06/02 11:23:29</td>   <td>84073</td> <td title="&lt;&lt;BaseTest.TeardownTest()[pri:0, instance:tests.BaseTest@55f3ddb1]">&lt;&lt;TeardownTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1006485584</td>   <td></td> </tr>
</table>
