<h2>Reporter output</h2><table><tr><td>Logged in successfully</td></tr>
<tr><td>Home Link clicked successfully</td></tr>
<tr><td>Comment Link clicked</td></tr>
<tr><td>Comments entered successfully</td></tr>
<tr><td>SignUp link clicked successfully</td></tr>
<tr><td>Create account submitted successfully</td></tr>
<tr><td>My account link clicked successfully</td></tr>
</table>