<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CIRCLES LIFE TEST SCENARIOS</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="62ada6">  <td>18/06/03 04:19:07</td>   <td>0</td> <td title="&lt;&lt;BaseTest.TeardownTest()[pri:0, instance:tests.BaseTest@26be92ad]">&lt;&lt;TeardownTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="657a99">  <td>18/06/03 04:18:48</td>   <td>-18957</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="CirclesLifeTest.circleAccountTest(java.lang.String, java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.CirclesLifeTest@4c70fda8]">circleAccountTest</td> 
  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="67b872">  <td>18/06/03 04:18:12</td>   <td>-55271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="FaceBookLoginTest.facebookTest(java.lang.String, java.lang.String, java.lang.String)[pri:0, instance:tests.FaceBookLoginTest@7dc7cbad]">facebookTest</td> 
  <td>main@1782704802</td>   <td></td> </tr>
<tr bgcolor="62ada6">  <td>18/06/03 04:18:08</td>   <td>-59217</td> <td title="&gt;&gt;BaseTest.initialize()[pri:0, instance:tests.BaseTest@26be92ad]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1782704802</td>   <td></td> </tr>
</table>
