<h2>Reporter output</h2><table><tr><td>Given linkProxy element for: DefaultElementLocator 'By.id: loginbutton' clicked </td></tr>
<tr><td>Logged in successfully</td></tr>
<tr><td>Given link[[ChromeDriver: chrome on XP (512dcd33ee21e0d12bf4dfd08c52eea5)] -> xpath: //a[text()='Home']] clicked </td></tr>
<tr><td>Given link[[ChromeDriver: chrome on XP (512dcd33ee21e0d12bf4dfd08c52eea5)] -> xpath: //a[@title='Leave a comment']] clicked </td></tr>
<tr><td>Given link[[ChromeDriver: chrome on XP (512dcd33ee21e0d12bf4dfd08c52eea5)] -> xpath: //div[contains(@class,'UFIAddCommentInput')]//div[@data-testid='ufi_comment_composer']] clicked </td></tr>
<tr><td>Comments entered successfully</td></tr>
<tr><td>Given link[[ChromeDriver: chrome on XP (512dcd33ee21e0d12bf4dfd08c52eea5)] -> xpath: //a[text()='Sign up']] clicked </td></tr>
<tr><td>SignUp link clicked successfully</td></tr>
<tr><td>Given link[[ChromeDriver: chrome on XP (512dcd33ee21e0d12bf4dfd08c52eea5)] -> xpath: //button[text()='Create account']] clicked </td></tr>
<tr><td>Create account submitted successfully</td></tr>
<tr><td>Given link[[ChromeDriver: chrome on XP (512dcd33ee21e0d12bf4dfd08c52eea5)] -> xpath: //a[@class='Links']/div[text()='MY ACCOUNT']] clicked </td></tr>
<tr><td>My account link clicked successfully</td></tr>
<tr><td>My account email id validated successfully</td></tr>
</table>